html {
    background-color: #3b424c; 
}

.test-container {
    display: flex;
}

.game-table {
    background-color:  honeydew; 
    border-spacing: 0px;
    font-size: 9px;
    float:left;
    border: 2px solid black;
    margin-right: 5px;
}

.game-table td {
    width: 6px;
    height: 6px;
    padding: 0;
    border: 1px solid honeydew;
}

.shape-table {
    background-color: #cef6f0;
    border: 1px solid black;
}

.shape-table td {
    width: 12px;
    height: 12px;
}

.statistic-list {
    color: white;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.shape {
    background-color: #0d102d6b;
    border-color: darkcyan
}

.shape.LShape {
    background-color: crimson;
}

.shape.JShape {
    background-color: indianred;
}

.shape.TShape {
    background-color: green;
}

.shape.OShape {
    background-color: deepskyblue;
}

.shape.IShape {
    background-color: mediumblue;
}

.shape.SShape {
    background-color: saddlebrown;
}

.shape.ZShape {
    background-color: teal;
}

.heap.LShape {
    background-color: rgb(221, 55, 88);
}

.heap.JShape {
    background-color: rgb(212, 135, 135);
}

.heap.TShape {
    background-color: springgreen;
}

.heap.OShape {
    background-color: skyblue;
}

.heap.IShape {
    background-color: rgb(64, 64, 211);
}

.heap.SShape {
    background-color: sandybrown;
}

.heap.ZShape {
    background-color: steelblue;
}


.heap {
    background-color: darkgrey;
}

.leftEdge {
    border-left: 1px solid red !important;
}

.rightEdge {
    border-right: 1px solid red !important;
}