html {
    background-color: black; 
}

.game-table {
    border-spacing: 1px;
}

.game-table td {
    border: 1px solid gray;
    width: 14px;
    height: 14px;
    padding: 0;
}

.figure {
    background-color: darkgreen;
}